altair @ file:///home/conda/feedstock_root/build_artifacts/altair-split_1734244716962/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1759762205280/work
blinker @ file:///home/conda/feedstock_root/build_artifacts/blinker_1731096409132/work
Bottleneck @ file:///C:/miniconda3/conda-bld/bottleneck_1761938191468/work
Brotli @ file:///C:/miniconda3/conda-bld/brotli-split_1762363653590/work
cachetools @ file:///home/conda/feedstock_root/build_artifacts/cachetools_1760287617600/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1759648874697/work/certifi
cffi @ file:///C:/miniconda3/conda-bld/cffi_1761832792265/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1760437218288/work
click @ file:///D:/bld/click_1758270401364/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
gitdb @ file:///home/conda/feedstock_root/build_artifacts/gitdb_1735887193964/work
GitPython @ file:///home/conda/feedstock_root/build_artifacts/gitpython_1753444155689/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_h2_1756364871/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1760286409563/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_importlib-metadata_1747934053/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1741263328855/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1756321760188/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jsonschema_1755595646/work
jsonschema-specifications @ file:///tmp/tmptzik3dqa/src
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1759055168238/work
mkl-service==2.5.2
mkl_fft @ file:///C:/miniconda3/conda-bld/mkl_fft_1761592920106/work
mkl_random @ file:///C:/miniconda3/conda-bld/mkl_random_1761593150425/work
narwhals @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_narwhals_1762797637/work
numexpr @ file:///C:/miniconda3/conda-bld/numexpr_1762165733453/work
numpy @ file:///C:/miniconda3/conda-bld/numpy_and_numpy_base_1762528517246/work/dist/numpy-2.3.4-cp311-cp311-win_amd64.whl#sha256=8374bcf3dd476b68b3451b45d27d83020e0e2ffef966e6b80792a47c839cc1c1
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1745345660/work
pandas @ file:///C:/miniconda3/conda-bld/pandas_1762332399011/work/dist/pandas-2.3.3-cp311-cp311-win_amd64.whl#sha256=6a3251bc4b4b7b67e557583d27c46e59dd38a774af7276284aaf0d4b219ca605
pillow @ file:///C:/b/abs_b50vowcrzo/croot/pillow_1738010273782/work
plotly @ file:///home/conda/feedstock_root/build_artifacts/plotly_1762283526932/work
protobuf @ file:///C:/b/abs_b5v84rwh56/croot/protobuf_1742419721750/work/bazel-bin/python/dist/protobuf-5.29.3-cp311-abi3-win_amd64.whl#sha256=98d5fe0a5675a4616b668d93953a0e9c6779522883c382ce8d72bf2eff5ec7c5
pyarrow @ file:///C:/miniconda3/conda-bld/pyarrow_1759833600682/work/python
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
pydeck @ file:///home/conda/feedstock_root/build_artifacts/pydeck_1738346561094/work
PySocks @ file:///D:/bld/pysocks_1733217287171/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1742920838005/work
PyYAML @ file:///home/conda/feedstock_root/build_artifacts/pyyaml_1758891825788/work
referencing @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_referencing_1760379115/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1755614211359/work
rpds-py @ file:///C:/miniconda3/conda-bld/rpds-py_1762366642821/work
scikit-learn @ file:///C:/b/abs_45qemhn4lg/croot/scikit-learn_1753427401078/work
scipy @ file:///C:/miniconda3/conda-bld/scipy_1762194966446/work/dist/scipy-1.16.3-cp311-cp311-win_amd64.whl#sha256=663b08798624a76e303a749fee5cb4c8968d62ac2c789c3d3ca3b9dde5ccc684
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
smmap @ file:///home/conda/feedstock_root/build_artifacts/smmap_1739781697784/work
streamlit @ file:///home/conda/feedstock_root/build_artifacts/streamlit_1762948025697/work
tenacity @ file:///home/conda/feedstock_root/build_artifacts/tenacity_1743640740204/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1741878222898/work
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1734091811753/work
tornado @ file:///C:/b/abs_7dzpc171lf/croot/tornado_1748956950306/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1756220668/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1742745135198/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1750271362675/work
watchdog @ file:///C:/miniconda3/conda-bld/watchdog_1759775795953/work
win_inet_pton @ file:///D:/bld/win_inet_pton_1733130564612/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1749421620841/work
zstandard @ file:///C:/miniconda3/conda-bld/zstandard_1758189091372/work
